body {
  margin: 0;
  font-size: 2em;
}

p {
  text-indent: 2em;
}

h1 {
  color:blue;
  text-align:center;
}

.nav_bar {
  float:none;
  background-color: gray;
  padding:0.3em 0.3em 0.3em 0.3em;
}
.nav_bar a {
  color: white;
  text-align:center;
  text-decoration: none;
  padding: 0.3em;
}

.nav_bar a:hover {
  color:black;
  background-color: #BDBDBD;
}

footer {
  padding: 1em 1em 1em 1em;
  border: gray solid 1px;
  background-color: gray;

}

.mygallery {
  display:grid;
  grid-template-columns: auto auto auto;
  grid-auto-flow: row;
}

.mygallery img {
  padding: 0.1em;
  width: 99%;
}

.mylist {
  padding: 1em;
  margin: 2em 2em 2em 2em;
}

.container {
  float:initial;
}

.container img {
  padding: 1em;
  float:left;
}
